*{
  box-sizing: border-box;
}

.head{
  text-align: center;
}

.a1{
  font-size: 25px;
  font-weight: bold;
  font-family: 'Tahoma';
  border: 2px solid black;
  margin: 10px;
  padding: 10px 10px;
  width: 280px;  
}
.B{
  border: 2px solid black;
  width: 400px;
}

#b1{
  font-family: 'arial';
  font-size: 30px;
  font-weight:bold;
  margin-left: 6px;
  margin-bottom: 0;
  margin-top: 10px;
}
#b2{
  color: red;
  margin:6px;
  font-family: 'Arial';
  font-style:italic;
  margin-bottom: 10px;
  font-weight: bold;
}

.C{
  border: 2px solid black;
  width: 300px;
  font-family: 'Verdana';
}

.c1{
  margin: 10px;
  font-weight: bold;
  margin-bottom: 0;
}

.c2{
  font-size: 15px;
  margin-left: 10px;
  margin-top: 2px;
  color: grey;
}

.c3{
  margin-left: 10px;
  margin-bottom: 0;
}

.Button{
  margin-left: 10px;
  margin-top: 15px;
  margin-bottom: 15px;
  border: none;
  height: 30px;
  width: 122px;
  background-color: green;
  border-radius: 10px;
  color: white;
}

.D{
  border: 2px solid black;
  width: 450px;
  margin-top: 20px;
  text-align: center;
  font-family: 'Arial';
}

.d1{
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 0;
}

.d2{
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 0;
}

.d3{
  color: rgb(62, 128, 179);
  font-size: 15px;
  margin-top: 10px;
}

.d3:hover{
  cursor: pointer;
  text-decoration: underline;
}
