

.paragraph{
  border: 2px solid black;
  width: 500px;
  margin-bottom: 10px;
}

.para{
  width: 300px;
  vertical-align: middle;
  display: inline-block;  
}

.button{
  font-size: 20px;
  border: none;
  background-color: aqua;
  border-radius: 10px;
  width: 80px;
}

.img{
  margin-top: 10px;
  margin-left: 40px;
  display:block;
  /* vertical-align:center; */
}
#search{
  font-size: 15px;
  border-radius: 25px;
  width: 400px;
  height: 45px;
  border: none;
  box-shadow: 5px 5px 5px lightblue;

  padding: 15px;
}

#search:active{
  border: none;
}

.google{
  border: 2px solid black;
  align-items: center;
  display: inline-block;
  height:200px;
  vertical-align: middle;

}
.total{
  display:block;
}