.navigate{
    font-family: 'Ubuntu';
    background-color: rgb(183, 148, 215);
    overflow: auto;
    border-radius: 15px;
    color: white;
}
.navigate li{
    list-style: none;
    float: left;
    padding: 12px;
    margin: 13px 30px;
}

.navigate input{
       float: right;
       margin: 12px;
       padding: 10px;
}

.navigate li a{
    text-decoration: none;
    color:whitesmoke;
    
}
.navigate li a:hover{
    background-color: rgb(188, 43, 43);
}