.container{
  width: 400px;
  display: flex;
  align-items: center;
}

.profile-1{
  width: 90px;
}

.info{
  flex: 1;
  font-family: Arial;
  margin-left: 5px;
}

.user-name{
  font-size: 18px;
  font-weight: bold;
  margin-top: 0px;
  margin-bottom: 0px;
}

.cast{
  color: grey;
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 18px;
}

.stats{
  color: grey;
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 16px;
}

.follow-button{
  width: 85px;
  height: 40px;
  border-radius: 5px;
  border: none;
  color: white;
  background-color: rgb(81, 135, 241);
  font-size: 15px;
  font-weight: bold;
  font-family: Arial;
  margin-right: 8px;
}

.cat-pic{
  width: 60px;
  height: 60px;
  object-fit:cover;
  border-radius: 30px;
  margin: 10px 20px;
}

.container-2{
  display: flex;
  width: 500px;
}

.contant-img{
  width: 220px;
  height: 120px;
  object-fit: cover;
}

.images{
  margin: 10px;
}

.info-2{
  font-family: Arial;
}

.heading{
  font-weight: bold;
}

.channel-name{
  margin-bottom: 0;
  color: grey;
}

.views{
  margin-top: 7px;
  margin-bottom: 0;
  color: grey;
}




