p{
  font-family: Arial;
}

.flexbox{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 6px 12px;
}

.notification{
  background-color: rgb(49, 109, 245);
  color: white;
  width: 30px;
  text-align: center;
  font-family: Arial;
  border-radius: 15px;
  padding: 3px 10px;
  font-size: 14px;
  font-weight: bold;
}

.container{
  width: 300px;
  border: 1px solid rgb(199, 198, 198);
  border-radius: 10px;
}

.row{
  margin-top: 20px;
  width: 400px;
  border: 1px solid black;
  display: flex;
  align-items: center;
}

.info{
  width: 200px;
  margin-left: 10px;
}

.profile-picture{
  width: 60px;
  height: 60px;
  border-radius: 30px;
  object-fit: cover;
  margin-left: 10px;
}

.Follow-button{
  width: 80px;
  height: 45px;
  border-radius: 10px;
  border: none;
  font-size: 18px;
  font-weight: bold;
  color: white;
  background-color: rgb(22, 109, 239);
}

.name{
  font-weight: bold;
  font-size: 18px;
}

.cast{
  font-size: 18px;
  color: grey;
  margin-bottom: 12px;
  margin-top: 9px;
}

.status{
  color: grey;
  margin-top: 0;
}

.row-1{
  margin-top: 15px;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  background-color: lightpink;
  height: 35px;
  align-items: center;
  padding: 10px;
}

.search{
  width: 500px;
  height: 40px;
  border-radius: 20px;
  border: none;
}

.search::placeholder{
  padding: 15px;
  font-size: 15px;
}

.home{
  color: white;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}

button{
  width: 100px;
  height: 40px;
  background-color: lightpink;
  color: white;
  border: 1px solid white;
}


