h3{
    font-family: 'Ubuntu', sans-serif;
    color:blue;
    background-color: red;
    width: 145px;
    padding: 12px;
    margin:auto;
}
h2{
    font-family: 'Ubuntu', sans-serif;
    color:black;
    padding: 10px 10px 10px 1px;
    margin: 1px;;
    box-sizing: border-box;
}

.container{
    font-family: 'Ubuntu', sans-serif;
    background-color: gold;
    color: red;
    border-radius: 10px;
    border-color: black;
    border-style: solid;
    padding: 10px 25px 35px 65px;
    margin:10px;
    box-sizing: border-box;
    width: 555px;
}