.Uber{
  border: none;   
  color: white;
  background-color: black;
  padding: 15px 40px;
  font-size: 15px;
  cursor: pointer;
}

.Uber:hover{
  opacity: 0.8;
  box-shadow: 2px 2px 10px rgb(0,0,0);
}

.Uber:active{
  opacity: 0.5;
  margin-top: 10px;
  margin-left: 10px;
}


.Amazon{
  border: none;
  padding: 15px 50px;
  border-radius: 28px;
  background-color: rgb(255, 216, 20);
  font-weight: bold;
  font-size: 17px;
  cursor: pointer;
  transition: opacity 0.15s;
  
}

.Amazon:hover{
  opacity: 0.8;
  box-shadow: 2px 2px 10px rgb(0,0,0);
  transform: scale(1.2);
}

.Active:active{
  opacity: 0.4;
}

.github{
  border: none;
  padding: 15px 40px;
  background-color: rgb(46, 164, 79);
  border-radius: 10px;
  color: White;
  font-weight: bold;
  font-size: 17px;
  cursor: pointer;
  transition: opacity 0.15s;
}

.github:hover{
  opacity: 0.8;
  background-color: rgb(113, 179, 131);
  color: yellow;
  box-shadow: 2px 2px 10px rgb(0,0,0);
}

.github:active{
  opacity: 0.5;
}

.Bootstrap{
  border: none;
  border-radius: 5px;
  background-color: rgb(121,82, 179);
  color: white;
  font-size: 15px;
  padding: 15px 40px;
  font-weight: bold;
  cursor: pointer;
}

.Bootstrapdownload{
  padding: 15px 40px;
  border-color: rgb(108,117,125);
  color:rgb(108,117,125);
  background-color: white;
  border-radius: 5px;
  border-style: solid;
  margin: 10px;
  cursor: pointer;
}

.LinkedIn{
  padding: 15px 40px;
  overflow: auto;
  border-radius: 35px;
  border: none;
  color: white;
  background-color: rgb(10, 102, 194);
  font-weight: bold;
  font-size: 15px;
  cursor: pointer;
}

.LinkedIn:hover{
  opacity: 0.7;
  box-shadow: 2px 2px 10px rgb(50, 111, 171);
}

.LinkedIn:active{
  opacity: 0.4;
}

.LinkedInsave{
  padding: 15px 40px;
  border-radius: 30px;
  margin-left:10px;
  border-color: rgb(10, 102, 194);
  border-style: solid;
  background-color: white;
  color: rgb(10, 102, 194);
  font-weight: bold;
  font-size: 15px;
  cursor: pointer;
}

.LinkedInsave:hover{
  opacity: 0.7;
  box-shadow: 2px 2px 10px black;
}

.LikedInsave:active{
  opacity:0.4;
  box-shadow: ;
}

.amazon2{
  border: 2px;
  border-color: red;
  border: solid;
  display: inline-block;
  cursor: pointer;
}

.Nike{
  font-weight: bold;
  font-size: 25px;
}

.price{
  color: rgb(0,118,0);
  font-size: 20px;
  font-weight: bold;
}

.arrival{
  font-weight: bold;
  font-size: 15px;
}

.Addtocart{
  height: 30px;
  width: 150px;
  border: none;
  color: black;
  background-color: rgb(255,216,20);
  font-weight: bold;
  border-radius: 20px;
}

.Buynow{
  height: 30px;
  width: 150px;
  border: none;
  color: black;
  background-color: rgb(255,164,28);
  font-weight: bold;
  border-radius: 20px; 
  cursor: pointer; 
}
.Backtoamazon{
  color:rgb(16, 137, 108)
  cursor: pointer;
}