.rectangle{
  width: 150px;
  height: 150px;
  background-color: red;
  display: inline-block;
  margin-right: 15px;
}

.circle{
  display: inline-block;
  width: 150px;
  height: 150px;
  border-radius: 80px;
  background-color: green;
  
}

.service{
  vertical-align: top;
  width: 500px;
  height: 100px;
  border: 2px solid black;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 25px;
}

.question{
  margin-left: 15px;
  font-size: 20px;
}

.yes{
  margin-left: 15px;
  width: 50px;
  height: 25px;
}

.no{
  width: 50px;
  height: 25px;
}

.youtube{
  width: 600px;
  border: 2px solid black;
  padding: 15px;
  background-color: black;
  margin-top: 10px;
  margin-bottom: 25px;
}

.title{
  color: white;
  font-weight: bold;
  font-size: 40px;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 0;
  margin-top: 10px;
}

.subtitle{
  color: grey;
  font-weight: bold;
  font-size: 25px;
  font-family: Arial, Helvetica, sans-serif;
}

.chatting{
  display: inline-block;
  border: 2px solid black;
}

.button,
.input{
  display: inline-block;
  margin-top: 35px;
}

.cat-picture{
  display: inline-block;
  width: 50px;
  height: 100px;
  vertical-align: top;
  margin-top: 25px;
  margin-left: 15px;
}

.image{
  width: 100%;
  height: 50%;
  display: inline-block;
  border-radius: 80px;
  vertical-align: top;
  object-fit: cover;
}

.messege-box{
  border: none;
  height: 30px;
  font-size: 25px;
  margin-right: 15px;
}

.twitter{
  border: none;
  height: 40px;
  width: 105px;
  font-size: 20px;
  border-radius: 25px;
  background-color: rgb(18, 173, 245);
  color: white;
  font-weight: bold;
  margin-right: 15px;
}


.grid{   
  display: grid;
  grid-template-columns: 200px 200px 200px;
  column-gap: 20px;
}

.big-cat{
  width: 100%;
  height: 200px;
  object-fit: cover;
  vertical-align: top;
}

.detail{
  font-family: Arial;
  margin-left: 5px;
}

.cat-name{
  margin-top: 10px;
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 0;
}

.frind-stats{
  margin-top: 5px;
  color: grey;
}

.add-friend{
  border-radius: 5px;
  margin-left: 5px;
  width: 100px;
  height: 35px;
  font-size: 15px;
  background-color: rgb(71, 137, 250);
  color: white;
  border: none;
  font-weight: bold;
  padding: 10px;
  margin-bottom:10px;
}




























































/* .overall{
  display: inline-block;
  width: 500px;
  height: 80px;
  border: 2px solid black;
}

p{
  margin: 0;
  padding: 0;
}


.button{
  display: inline-block;
}

.details{
  display: inline-block;

}

.thumbnail-row{
  width: 50px;
  display: inline-block;
  vertical-align: middle;
}

.images{
  width: 100%;
  border-radius: 80px;

}

.name{
  font-size: 20px;
  font-weight: bold;
}

.group{

}

.status{

}

.follow{
  vertical-align: middle;
  float: right;
} */